.text-area-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-box {
    font-family: monospace;
}

.text-area-small {
    font-family: monospace;
    font-size: 11px;
    min-height: 15vh;
    min-width: 15vw;
}

.vc-verify,
.vc-claim{
    position: relative;
    margin-top: 10vh;
}

.actions-history{
    font-size: 15px;
    white-space: pre-wrap;
}